rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null
        && request.auth.token.email == 'm462556532@gmail.com';
    }

    match /games/{id} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /products/{id} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /promocodes/{id} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /orders/{id} {
      // Customers can create orders only when logged in.
      allow create: if request.auth != null;
      // Only admin can read/update/delete orders.
      allow read, update, delete: if isAdmin();
    }
  }
}
